/**
    Title: dupuis-whatabook1.css
    Author: Jocelyn Dupuis
    Date: 07/14/2023
    Description: Styling for WhatABook App
*/

/*
Imports theme.css for light and dark theme 
*/
@import url("../theme.css");

/*
Styling for card
*/
.card {
    width: 100%;
}

/*
Styling for card title
*/
.card-title {
    text-aligh: center;
}
    
/*
Styling for assign content
*/
.assign-content {
    width: 650px;
}

/*
Styling for H1
*/
h1 {
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
}
